In [2]:
customer_heart_rate = float(input('What is your mean heart rate?\n'))
import pandas as pd
import numpy as np
df = pd.read_csv('data_collection.csv')
df

What is your mean heart rate?
85.36

     Step count
0          2575
1          7517
2          5916
3          6641
4          3013
..          ...
172       13012
173        7194
174        8259
175        3676
176       10393

[177 rows x 1 columns]

In [3]:
da = pd.read_csv('dataset_final.csv')
print(da)

    cumulative_daily_steps  mean_heart_rate
0                     9485            82.51
1                     9757            89.53
2                    11127            85.08
3                     8555            82.02
4                     8485            80.98
5                     9085            89.14
6                     9908            84.68
7                    10958            84.82
8                     8053            79.85
9                    12323            80.31
10                    9684            79.97
11                    9674            80.38
12                   10475            81.72
13                    8466            80.94
14                    9376            83.96
15                    9577            89.30
16                    9786            72.98
17                    7506            87.80
18                    7596            76.78
19                    9475            77.79
20                   10947            80.68
21                   10957            79.80
22                   11848            79.89
23                    8596            80.56
24                    7596            82.67
25                    9576            81.79
26                   13058            75.57
27                   11859            78.89
28                   10274            77.98
29                   10845            79.90
30                    7705            82.97
31                    9708            81.28
32                    9806            86.64
33                    7866            84.34
34                   12970            82.27
35                    9706            83.47
36                   10795            79.78
37                   11968            84.63
38                    7607            79.67
39                    8796            79.78
40                    7958            79.80
41                   10386            81.79
42                    9886            82.15
43                    7456            82.18
44                    8796            84.79
45                   11957            85.37
46                    9785            83.47
47                    8796            84.41
48                    9735            73.78
49                   10393            82.76

In [4]:
current_step_count = (df["Step count"].values[-1])
print(current_step_count)

10393

In [5]:
backend_data = da.loc[da['cumulative_daily_steps']==current_step_count]
print(backend_data)

    cumulative_daily_steps  mean_heart_rate
49                   10393            82.76

In [6]:
index = backend_data.index
print(index)

Int64Index([49], dtype='int64')

In [7]:
mean_heart_rates = (da["mean_heart_rate"].values[index])
print(mean_heart_rates)

[82.76]

In [8]:
if customer_heart_rate > mean_heart_rates + 10  or customer_heart_rate < mean_heart_rates - 10 :
    print("Heart rate is not normal  please consult to doctor") 
else:
    print("Heart rate is normal  you are good to go!")

Heart rate is normal  you are good to go!